<a href="https://colab.research.google.com/github/priyak950/Step-by-Step-to-Data-Science/blob/main/Python/Functional_OOP_and_its_trickly_doubt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Agenda

<hr style="border:2px solid gray"> </hr>

### Recap
- Review on Data Structures
    - List Comprehension
    - Dictionary Comprehension
    - Difference between collective data structures
- Review on Control Structures
- Review Functional Programming
- Object Oriented Programming
    - Concept of class and objects
    - Instantiation
    - Class inheritance
    - Method overriding
    - Some magic methods
    - Complex number example (if time allows)

<hr style="border:2px solid gray"> </hr>
<hr style="border:2px solid gray"> </hr>

#### Review on Data Structures

In [ ]:
num1 = 100
num2 = 5.5

num1 = num1 + 1

res = 100 // 3

print(res)

33

In [ ]:
# Strings are immutable
fruits = ["banana", "kiwi", "orange"]

word = "hello my dear friend"

# res = word.isalnum()

# words = word.split(" ")

# res = word.count(" ")
res = word.find("my")

# print("***".join(fruits))
print(res)

6

In [ ]:
num = float("25.4")

print(num + 10)

35.4

In [ ]:
# Lists are mutable

fruits = ["banana", "kiwi", "orange", "banana", "banana", "cucumber", "tomato"]

# fruits.append("pineapple")
# fruits.extend(["pineapple", "olive"])
# fruits.insert(2, "potato")
# fruits.remove("banana")
# del fruits[1]

# for i in range(fruits.count("banana")):
#     fruits.remove("banana")

counter = 0

while ("banana" in fruits) and (counter < 2):
    fruits.remove("banana")
    counter += 1

print(fruits)

['kiwi', 'orange', 'banana', 'cucumber', 'tomato']

In [ ]:
fruits = ["banana", "kiwi", "orange", "banana", "banana", "cucumber", "tomato"]

# item = fruits.pop()
# res = fruits.count("banana")
# res = fruits.index("pineapple")

print(res)
print(fruits)

ValueError: 'pineapple' is not in list

In [ ]:
# Tuple - immutable

fruits = ("banana", "kiwi", "orange", "banana", "banana", "cucumber", "tomato")

# new_fruits = tuple(fruits)

letters = tuple("hello world")

print(letters)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [ ]:
# unpacking

person = ['john', 20, 100]

name, age, pay = person

print(name)
print(age)

john
20

In [ ]:
# Dictionary - mutable

# person = {'name': 'john', 'age': 2, 'employed': True, 'weight': 80.5}
# extra_info = {'weight': 80.5, 'tel': '1843524'}

# person['weight'] = 80.5

# person['name'] = 'Bob'

# del person['age']
# person.update(extra_info)

persons = dict([('john', 20), ('sarah', 42), ('kevin', 52)])


print(persons)

{'john': 20, 'sarah': 42, 'kevin': 52}

In [ ]:
# Sets
set1 = {30, 60, 20}
set2 = {10, 20, 40, 50}

# res = set2.union(set1)
# res = set1 | set2

# res = set1.intersection(set2)
# res = set1 & set2

# res = set2.difference(set1)
# res = set1 - set2

# res = set2.issuperset(set1)

# res = set1.isdisjoint(set2)

res = set("hello world")

print(res)
# print(len(set1))

{'r', 'l', ' ', 'w', 'h', 'o', 'd', 'e'}

<hr style="border:2px solid gray"> </hr>
<hr style="border:2px solid gray"> </hr>

#### Review on Control Structures

In [ ]:
fruits = ["banana", "kiwi", "orange", "banana", "banana", "cucumber", "tomato"]

'orange' not in fruits

False

In [ ]:
fruits = ["banana", "kiwi", "orange", "banana", "banana", "cucumber", "tomato"]

# new_fruits = [f.upper() for f in fruits if len(f) == 6] # List comprehension

# for f in fruits:
#     new_fruits.append(f.upper())

f_dict = {f: len(f) for f in fruits} # Comprehension

# for f in fruits:
#     f_dict[f] = len(f)
    
print(f_dict)

{'banana': 6, 'kiwi': 4, 'orange': 6, 'cucumber': 8, 'tomato': 6}

In [ ]:
for f in fruits:
    if len(f) == 6:
        print("6 character fruits")
    else:
        print("non 6 character fruits")

6 character fruits
non 6 character fruits
6 character fruits
6 character fruits
6 character fruits
non 6 character fruits
6 character fruits

In [ ]:
user_inp = input("please enter something: ").replace(" ", "")

let_freq = {}

let_set = set(user_inp)

for let in let_set:
    let_freq[let] = user_inp.count(let)/len(user_inp)
    
print(let_freq)

please enter something: hello my dear friend
{'r': 0.11764705882352941, 'l': 0.11764705882352941, 'f': 0.058823529411764705, 'y': 0.058823529411764705, 'i': 0.058823529411764705, 'n': 0.058823529411764705, 'h': 0.058823529411764705, 'a': 0.058823529411764705, 'o': 0.058823529411764705, 'd': 0.11764705882352941, 'm': 0.058823529411764705, 'e': 0.17647058823529413}

In [ ]:
names = ('john', 'sarah', 'kevin')
ages = (20, 30, 40)

# items = []

# for item in zip(names, ages):
#     items.append(item)
    
# persons = dict(items)

persons = {n: a for n, a in zip(names, ages)}

print(persons)

{'john': 20, 'sarah': 30, 'kevin': 40}

<hr style="border:2px solid gray"> </hr>
<hr style="border:2px solid gray"> </hr>

#### Review on Functional Programming

In [ ]:
def func(a, b):
    if a > b:
        return True
    elif a < b:
        return False
    else:
        print("equality")

func(30, 30)

equality

In [ ]:
def isPrime(n):
    flag = True
    for i in range(2, int(n/2) + 1):
        if n % i == 0:
            flag = False
            break
    return flag

nums = [10, 11, 42, 43, 98, 13]

primes = [n for n in filter(isPrime, range(2, 200))]

# for n in filter(isPrime, nums):
#     print(n)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

<hr style="border:2px solid gray"> </hr>
<hr style="border:2px solid gray"> </hr>

#### Object Oriented Programming (OOP)

In [ ]:
class Person:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
    
    def show_name(self):
        print(self.name)
        
    def change_name(self, new_name):
        self.name = new_name
    
    
person1 = Person('john', 32, 4000)
person2 = Person('sarah', 50, 4500)


my_model = LinearModel(weights=(20, 30))

my_model.fit()

print(person1.name)
print(person2.name)
print(Person.name)





# person1.age = 20

# Person.age = 100

# person1.change_name('sarah')

# person1.show_name()
# person2.show_name()


# print(person1.age)
# print(person2.age)
# print(Person.age)

john
sarah

AttributeError: type object 'Person' has no attribute 'name'

#doubt

Recursive through lambda

In [4]:
#factorial using lambda
# from functools import reduce
# n=3
# reduce(lambda x,y : x*y,range(1,n+1))

#lambda recursion
fact = lambda n : 1 if n==0 else n*fact(n-1)
fact(4)

24

Data type for dictionary item will tuple not dictionary

In [7]:
d = {1:["sam",5]}
for x in d.items():
  print(type(x))

<class 'tuple'>

Regular expression

In [ ]:
https://www.regexpal.com/
    
www3.school
    
https://regexcrossword.com/challenges/beginner/puzzles/1
    
    
https://regex101.com/