<a href="https://colab.research.google.com/github/priyak950/Step-by-Step-to-Data-Science/blob/main/Python/ListComprehension_and_MapReduceFilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 #### Control structure and function in python 
 
 Control structure and functions automate repetitive tasks intelligently. The most common control structures include if-else statements, for and while loops, and list and dictionary comprehensions.

1. Decision Making (if-else , if-elif-else )

2. Loops and Iterations (for loop , while loop)

3. Comprehensions (List comprehension, dictionary comprehension, set comprehension)

4. Functions in Python

5. Map , Filter and Reduce functions

#### Decision Making ####

####  If-elif-else ###

In [ ]:
## If statement ##

x = 45.4

if x < 99:
    print(x, "is less than 99")
else:
    print(x, "is more than 99")

45.4 is less than 99

In [ ]:
shoppinng_total = 550

if shoppinng_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 1000 on next purchase

#### Loops and iterations

####  For loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 

Syntax -

    for val in sequence:

        loop body

Loop body starts with an indentation after for statement

In [ ]:
#For loop
#Print all numbers

list1 = [5,6,7,8]

for x in list1:
    print(x)
    
# Iterating over a sequence is called traversal

5
6
7
8

In [ ]:
#For loop with else
list1 = [5,6,7,8]

for x in list1:
    print(x)
else:
    print("All digits printed")

5
6
7
8
All digits printed

In [ ]:
#For loop
# Example 3 - Program to iterate through a list using indexing

fruits = ['mango', 'cherry', 'kiwi']

# iterate over the list using index
for x in [0,1,2]:
     print("I like",  fruits[x])
        
# print(fruits[0])
# print(range(0,3)) #output range(0, 3)

I like mango
I like cherry
I like kiwi

#### While loop

In [ ]:
#### Let's create a pin checker which we generally have in our phones or ATMs
pin = input("Enter your four digit pin: ")




while pin != '1234':
    pin = input('Invalid input, please try again: ')  

print("Pin validation successful.")

Enter your four digit pin: 1234
Pin validation successful.

#### range

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

#### Comprehensions

#### List comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
#List comprehension
 
nums =[1,2,3,4,5,6,7,8,9,10]


# newlist = [expression for item in iterable if condition == True]

even_nums = [x for x in nums if x%2 ==0]

# print("even_nums " ,even_nums , type(even_nums))

square_of_even_nums = [x*x for x in nums if x%2 ==0]

print("square_of_even_nums ", square_of_even_nums)

square_of_even_nums  [4, 16, 36, 64, 100]

#### Create  a new  list using :
1. For loop
2. List comprehension

In [ ]:
#List creation using for loop
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

# newlist will have those fruit names which have letter 'a' in them
for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#List creayion using list comprehension
fruits = [ "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['banana', 'mango']

In [ ]:
## Condition is optional
newlist = [x for x in fruits]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

#### Dictionary comprehension

In [ ]:
## Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Example on dictionary comprehension

l1 = ["Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [ ]:
word = "mango"
# for i in word:
#     print(i)
    
    
# "o" in "aeiou"
   
vowels = {i for i in word if i in "aeiou"}
vowels

{'a', 'o'}

#### Functions in python

In [ ]:
 

def AddNumbers(x,y=4):
    #dd
    ##sss
    ##dddd
    '''
    AddNumbers function takes two numbers and returns their sum
    
    arg:
        x: its an integer number
        y: its an interger number
        
    returns:
        sum of x and y
    
    '''
    a = x+y
    return a

In [ ]:
AddNumbers(5,6)

11

In [ ]:
AddNumbers.__doc__

'\n    AddNumbers function takes two numbers and returns their sum\n    \n    arg:\n        x: its an integer number\n        y: its an interger number\n        \n    returns:\n        sum of x and y\n    \n    '

In [ ]:
AddNumbers.__doc__

'\n    AddNumbers function takes two numbers and returns their sum\n    \n    arg:\n        x: its an integer number\n        y: its an interger number\n        \n    returns:\n        sum of x and y\n    \n    '

In [ ]:
AddNumbers(12)

16

In [ ]:
def printName( name="there"):
    print('Hi!', name)

In [ ]:
printName('Neha')

Hi! Neha

In [ ]:
printName()

TypeError: printName() missing 1 required positional argument: 'name'

#### Arbitrary Arguments, *args###
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc')

#### Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**kid):
  print("Her last name is " + kid["lname"])

my_function(fname = "Neha", lname = "Das")

Her last name is Das

#### Python Lambda###

A lambda function is a small anonymous function(function without a name).

A lambda function can take any number of arguments, but can only have one expression.

Syntax:
<b>lambda arguments : expression</b>

lambda a, b, c : a + b + c

Use lambda functions when an anonymous function is required for a short period of time.

In [ ]:
#Lambda - Example 1
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(2)

'even'

In [ ]:
#Lambda - Example 2
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
#Lambda - Example 3
# Lambda Function with List Comprehension
# Print table 2

multiplication_table_2 = [lambda x=x: x*2 for x in range(1, 11)]
#print(type(multiplication_table_2)) #<class 'list'>

for val in multiplication_table_2:
    #print(type(val)) #<class 'function'>

    print(val())

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Lambda - Example -4
# Lambda Function with if-else

max_val = lambda a, b : a if(a > b) else b
 
print(max_val(10, 2))

10

In [ ]:
#Lambda - Example -5

#lambda() Function with map()

#cube all numbers in a list

list1 = [3,6,7]

result = map(lambda x : x*x*x , list1 )

print(result)
print(list(result))

#you can do this way too

# cube_lambda = lambda x: x*x*x

# list2 = [2,3,4]
# result1 = map(cube_lambda, list2 )
# print(list(result1))

<map object at 0x000002171595FD48>
[27, 216, 343]

In [ ]:
#Lambda - Example -6
# Lambda() with filter()
# Odd numbers in the list
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = (filter(lambda x: (x%2 != 0) , li))
print(list(final_list))

[5, 7, 97, 77, 23, 73, 61]

In [ ]:
#Lambda - Example -7
#Lambda() with reduce()

from functools import reduce
li1 = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li1)
# print (sum)


li2 = [2,3,4,5]
multiply = reduce((lambda x, y: x * y), li2)
print(multiply)

120

In [ ]:
# min = (lambda x, y: x if x < y else y)
# # min(101*99, 102*98)
# min(3,9)

3

#### Map , Filter and Reduce functions


(source - https://towardsdatascience.com/accelerate-your-python-list-handling-with-map-filter-and-reduce-d70941b19e52)

#### Map ####

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter. 
Python’s map() is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as mapping.(https://realpython.com/)

Syntax :

<b>map(function, iterables)</b>

The first argument(function) can be any Python callable such as built-in functions, classes, methods, lambda functions, and user-defined functions.The only condition would be that the callable takes an argument and returns a concrete and useful value.


iterables can be sets, lists , tuples etc

You can pass more than one iterable to the map() function.

The map() function returns an object of map class. The returned value can be passed to functions like list() , set() etc

The first argument to map() is a function object, which means that you need to pass a function without calling it. That is, without using a pair of parentheses. The first argument is called transformation function.

Example - map(int , ["1" ,"2" ,"3"])


<i> Previous knowledge of working with iterables , loops , function , lambda function will be useful</i>

(Refer - https://docs.python.org/3/library/functions.html#map)

In [ ]:
# map() Example -1

#Define a function which will take a number and square it up.
def square_the_num(x):
    return x*x

# print(square_the_num(4))

# List
list1 = [3,4,5]

# apply square_the_num() function to each item of the numbers list
newlist = map(square_the_num , list1)

print(newlist)
# output - <map object at 0x000001AB74152988>

#make the map output readable
print(list(newlist))
#output - [4, 9, 16, 25]

<map object at 0x0000021D5706FF88>
[9, 16, 25]

In [ ]:
# map() Example -2
def myfunc(a):
  return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(x)

#convert the map into a list, for readability:
print(list(x))

<map object at 0x0000021D570720C8>
[5, 6, 6]

In [ ]:
# map() Example -3

#Use lambda function with map()

nums_list =[5,10,15,25]

#map(function, iterables)

result = map( lambda x : x*x , nums_list)

#print the map object in a readble format

print(list(result))

[25, 100, 225, 625]

In [ ]:
# map() Example -4
# Passing Multiple Iterators to map() Using Lambda

list1 = [2, 3, 4]
list2 = [5, 6, 7]

result = map(lambda l1, l2: l1+l2, list1, list2)
print(list(result))

[7, 9, 11]

![image.png](attachment:image.png)

In [ ]:
# map() Example -4.a
# Passing Multiple Iterators to map() Using custom function

l1 = [4, 5, 6]
l2 = [5, 6, 7]
l3=  [1,1,1]

def listsum(l1,l2,list3):
    return l1 + l2

result = map(listsum, l1, l2 ,l3)
print(list(result))

[9, 11, 13]

In [ ]:
# map() - Example -5
#convert all items in a list from strings to numbers
str_nums = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

nums = map(int , str_nums)


print(list(nums))
#original list remains unchanged
print(list(str_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
# map() - Example -6
# Capitalize all items of a list 

mylist = ["mango" , "papaya" , "guava" , "cherry" , 'kIWI' , 'COCONUT']

newlist = map(str.capitalize , mylist)
#  str.capitalize(), str.lower(), str.swapcase(), str.title(),  str.upper()

print(list(newlist))

['Mango', 'Papaya', 'Guava', 'Cherry', 'Kiwi', 'Coconut']

In [ ]:
# map() - Example -7
import re

def remove_punctuation(word):
    return re.sub(r'[!?.:;,"()-]', "", word)

# remove_punctuation("...Python!")

word_list =['...Python!' , 'why ?' ,'Ok.' ,"then:"]


newlist = map(remove_punctuation,word_list)
print(list(newlist))

['Python', 'why ', 'Ok', 'then']

In [ ]:
#map() - Example - 8
#Elaborate function
def to_float(number):
    try:
        return float(number.replace(",", "."))
    except ValueError:
         return float("nan")


list(map(to_float, ["12.3", "3,3", "-15.2", "One"]))
#output :[12.3, 3.3, -15.2, nan]

[12.3, 3.3, -15.2, nan]

In [ ]:
import math
math.sqrt(-16)

ValueError: math domain error

In [ ]:
#map() - Example - 9
# map() and filter()
#Sometimes you need to process an input iterable and return another iterable 
#that results from filtering out unwanted values in the input iterable.

#Find the square root of the positive numbers in the list
nums =[4, 16, -25, 36 , -49]


import math

def is_positive(num):
    return num >= 0

result = map(math.sqrt, filter(is_positive, nums))
 
print(list(result))

# c= filter(is_positive, nums)
# type(c)
# list(c)

[2.0, 4.0, 6.0]

In [ ]:
#map() - Example - 10
 
# Using map() and filter() within reduce()
'''
Python’s reduce() is a function that lives in a module called functools in the Python standard library. 
reduce() is another core functional tool in Python 
that is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.
This kind of operation is commonly known as reduction or folding. 
'''

from functools import reduce
 
list1 = [2,3,4,5,6,7,8]
# step-1 : filter only even numbers using lambda function  [2,4,6]
# print(list(filter(lambda x: (x%2==0), list1)))

#step-2 : Using map() ,add every element to itself i.e 2+2  4+4 6+6   [4,8,12]
# print(list(map(lambda x:x+x,filter(lambda x: (x%2==0), list1))))

# step-3 : Reduce the above list to sum of all the numbers

sum_of_all_twice_the_even_nums = reduce(lambda x,y: x+y,map(lambda x:x+x,filter(lambda x: (x%2==0), list1))) 
print(sum_of_all_twice_the_even_nums)

40

Lets do number squaring operation in three ways

1. Using loops

2. Using list comprehension

3. Using map()

In [ ]:
nums = [2,3,4]
squared_nums =[]
#1. Using loops
for i in nums:
    squared_nums.append(i ** 2)

print(squared_nums)


#2. Using list comprehension

squared = [i*i for i in nums]

print(squared)

#3. Using map()

def square(number):
    return number ** 2

mapped_data = map(square , nums)
#square is the custom transformation function here
print(list(mapped_data))

[4, 9, 16]
[4, 9, 16]
[4, 9, 16]

Sometimes you might face situations in which you need to perform the same operation on all the items of an input iterable to build a new iterable. The quickest and most common approach to this problem is to use a Python for loop. However, you can also tackle this problem without an explicit loop by using map().

### Filter ###

The filter() function returns an iterator were the items are filtered through a function to test if the item is accepted or not.

Syntax -

<b>filter(function, sequence)</b>

Parameters:

function: function that tests if each element of a 
sequence true or not.

sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.

Returns:

returns an iterator that is already filtered.

In [ ]:
#Filter - Example 1

# Filtering consists of applying a  Boolean-valued function to an iterable to generate a new iterable. 
#Items in the new iterable are produced by filtering out any items in the original 
#iterable that make the predicate function return false.



#Task-Filter the list, and return a new list with only the values equal to or above 18:

ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [ ]:
# Filter - Example -2

# It is normally used with Lambda functions to separate list, tuple, or sets.

# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
  
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

# print(type(filter(lambda x: x % 2 != 0, seq))) #<class 'filter'>

[1, 3, 5, 13]
[0, 2, 8]
<class 'filter'>

### Reduce

The reduce() function accepts a function and a sequence and returns a single value calculated as follows:

1. Initially, the function is called with the first two items from the sequence and the result is returned.

2. The function is then called again with the result obtained in step 1 and the next value in the sequence. This process keeps repeating until there are items in the sequence.

This function is defined in “functools” module.

Syntax - reduce(function,sequence)

In [ ]:
#reduce - Example-1
from functools import reduce
 
list1 =[47,11,42,13]
result = reduce(lambda x,y : x+y , list1)
print(result)

10

![image.png](attachment:image.png)

In [ ]:
#reduce - Example-2
result = reduce(lambda a,b:a*b , [1,2,3,4])
print(result)

24

In [ ]:
x = 'a'
y = 'c'
x+y

'ac'

In [ ]:
#reduce - Example-3
list1 = ['apple', 'banana',  'date' ,'fig']

from functools import reduce

print(reduce(lambda x,y:x+y,map(lambda x:x[0],list1)))

abdf

Task - Explore accumulate() function

Compare reduce() and accumulate() in Python

References : 
1. https://realpython.com/python-map-function/